/* App Details Page */
* {
    font-family: Oswald, calibri, Clash Grotesk;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-toggle {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
  }

    /* Dark mode variables */
    body.dark-mode {
        --background-color: #121212;
        --text-color: #ffffff;
        --button-background: #333333;
        --button-text-color: #ffffff;
      }   

.app-details {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.app-details img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.app-details h2 {
    font-size: 24px;
    margin: 15px 0;
}

.app-details p {
    font-size: 16px;
}

.back-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.back-btn:hover {
    background-color: #333;
}
